{% set mitad = categorias|length / 2 %}
{% set fin = categorias|length %}    

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            {% for categoria in categorias|slice(0, mitad) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categoria_lista', {
                        'desc_categoria': categoria.descripcion
                    }) }}">{{categoria.descripcion}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="{{ path('raiz') }}">
            <img src="/images/mundo_reves.png" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            {% for categoria in categorias|slice(mitad) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categoria_lista', {
                        'desc_categoria': categoria.descripcion
                    }) }}">{{categoria.descripcion}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>