{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('anuncios/css/estilos.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    {#<link rel="stylesheet" href="{{ asset('images/iconos/fontawesome/web-fonts-with-css/css/fontawesome.min.css') }}">#}

{% endblock %}

{% block body %}
    <div class="container">

        <div>
            {% include('cabecera.html.twig') %}
        </div>

        {% if mensaje_formulario is defined %}    
            {% if mensaje_formulario.estado == 'error' %}
                <div class="mensaje_error">
                    {{ mensaje_formulario.descripcion }}
                </div>
            {% elseif mensaje_formulario.estado == 'ok' %}
                <div class="mensaje_enviado">
                    {{ mensaje_formulario.descripcion }}
                </div>
            {% endif %}                
        {% endif %}

        <div>
            {% include('menu.html.twig') %}
        </div>

        {% block cuerpo %}{% endblock %}

        <div class="row">
            <div class="col">
                {% include('pie.html.twig') %}
            </div>
        </div>

        {% block javascripts %}
            {{ parent() }}
            
            {# 
                A continuación todos los scripts para el tablón de anuncios.
                Debido a que no se puede hacer heredable anuncios.html.twig, sólo se puede poner aquí
                si se quiere que los scripts vayan siempre al final del documento. Si no nos importa
                que los scripts vayan dentro del documento se puede poner el código de abajo dentro de
                la plantilla anuncios.html.twig
            #}
            <script src="{{ asset('base/js/jquery-3.3.1.js') }}"></script>
            <script type="text/javascript">
                var $jQuery_3_3_1 = jQuery.noConflict();
                window.jQuery = $jQuery_3_3_1;
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
            
            <script type='text/javascript'>
                $jQuery_3_3_1(document).ready(
                    function(){
                    
                        window.cookieconsent.initialise({
                            "palette": {
                                "popup": {
                                    "background": "#000"
                                },
                                "button": {
                                    "background": "transparent",
                                    "text": "#f1d600",
                                    "border": "#f1d600"
                                }
                            },
                            "position": "bottom-left",
                            "content": {
                                "message": "Hola. Utilizamos cookies. Nosotros no compartimos tus datos con terceros. Aprovechamos para darte un cordial saludo.",
                                "dismiss": "Aceptar",
                                "link": "Leer más",
                                "href": "politica-cookies"
                            }
                        });

                    }
                );

                function cargarNoticias2() {                  
                    $jQuery_3_3_1.post("{{ url('cargar_pagina2') }}", 
                        { 'name': "John", 'time': "2pm" })
                        .done(function( data ) {
                            num_pagina = JSON.parse(data.num_pagina); 
                            alert( "Data Loaded: " + num_pagina );
                        });
                }

                function cargarNoticias() {

                    var num_pag = $jQuery_3_3_1('#num_pagina').val(); // página actual
                    var ruta = "{{ path('cargar_pagina', {'desc_categoria': categoria.descripcion, num_pagina:'num_pag'}) }}";
                    ruta = ruta.replace("num_pag", num_pag);

                    $jQuery_3_3_1.ajax({
                        method: "GET",
                        url: ruta,
                        dataType: 'json',
                        success: function(data) {

                            if (/^[\],:{}\s]*$/.test(data.noticias.replace(/\\["\\\/bfnrtu]/g, '@').
                                replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, ']').
                                replace(/(?:^|:|,)(?:\s*\[)+/g, ''))) {                                
                                noticias = JSON.parse(data.noticias); 
                                $('#num_pagina').val(data.num_pagina);
                            }

                            $.each(noticias, $.proxy(function(i, noticia) {
                               // alert(noticia.titular);

                                html = '<div class="container-fluid">';
                                html += '<div class="alert alert-success">';
                                html += '<h1>'+noticia.titular+'</h1>';
                                html += '</div></div>';
                                $("#lista_noticias").append(html);
                            
                            }, this)); 
                        },
                        error: function(jqXHR, exception) {
                            if(jqXHR.status === 405) {
                                console.error("METHOD NOT ALLOWED!");
                            }
                        }
                    });
                }                    

            </script>
            {# fin del código script para control del tablón de anuncios #}

        {% endblock %}

    </div>

{% endblock %}